body {
	padding-bottom: 40px;
}

@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	.navbar .nav-collapse {
		clear: none;
	}
}

@media (max-width: 767px) {
	.navbar-fixed-top {
		margin-bottom: 20px;
	}
}

.page-header {
	margin-bottom: 20px;
}

.page-header h2 {
	margin-bottom: 10px;
}

footer {
	text-align: center;
	font-size: 13px;
}

.navbar-search .icon-search {
	position: relative;
	left: -30px;
}

.navbar-search input.search-query {
	line-height: normal;
}

.alerts {
	margin-top: 10px;
}

.gmap img { max-width: none; }

.tooltip-inner {
	font-weight: normal;
}

.no-left-margin {
	margin-left: 0 !important;
}

.extended-search label {
	font-weight: bold;
}

.extended-search .controls label {
	font-weight: normal;
}

.extended-search .form-horizontal .control-label {
	width: 110px;
}

.extended-search .form-horizontal .controls {
	margin-left: 130px;
}

.thesaurus-row {
	padding: 5px;
	border-bottom: 1px solid lightgrey;
}

.thesaurus-row:nth-child(2n) {
	background-color: #ffffff;
}

.thesaurus-row:nth-child(2n+1) {
	background-color: #f9f9f9;
}

.user-management-table td {
	vertical-align: middle !important;
}

.edit-user-checkbox {
	vertical-align: middle !important;
	margin-bottom: 8px !important;
}

.gaz-container {
	margin-right: auto;
	margin-left: auto;
}

.gaz-container:before,
.gaz-container:after {
  	display: table;
  	content: "";
	line-height: 0;
}

.gaz-container:after {
	clear: both;
}

.suggestion-menu {
	position: absolute;
	border: 1px solid #CCC;
	background-color: #ffffff;
	z-index: 2000;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.suggestion {
	display: block;
	width: auto;
	height: 20px;
	padding: 4px;
	cursor: pointer;
}

.suggestion.selected {
	background-color: rgb(178,211,252);
}

.btn-facet-scroll, .btn-facet-scroll.disabled {
	background-color: transparent;
}

.btn.disabled [class^="icon-"] {
	cursor: initial;
}