body {
	padding-bottom: 40px;
}

@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	.navbar .nav-collapse {
		clear: none;
	}
}

@media (max-width: 767px) {
	.navbar-fixed-top {
		margin-bottom: 20px;
	}
}

.page-header {
	margin-bottom: 20px;
}

.page-header h2 {
	margin-bottom: 10px;
}

footer {
	text-align: center;
	font-size: 13px;
}

.footer-container {
	z-index: 1000;
	position: relative;
	background-color: white;
}

.navbar-search .icon-search {
	position: absolute;
	top: 6px;
	left: 182px;
}

.navbar-search input.search-query {
	line-height: normal;
}

.alerts {
	margin-top: 10px;
}

.gmap img { max-width: none; }

.tooltip-inner {
	font-weight: normal;
}

.no-left-margin {
	margin-left: 0 !important;
}

.extended-search label {
	font-weight: bold;
}

.extended-search .controls label {
	font-weight: normal;
}

.extended-search .form-horizontal .control-label {
	width: 110px;
}

.extended-search .form-horizontal .controls {
	margin-left: 130px;
}

.thesaurus-row {
	padding: 5px;
	border-bottom: 1px solid lightgrey;
}

.thesaurus-row:nth-child(2n) {
	background-color: #ffffff;
}

.thesaurus-row:nth-child(2n+1) {
	background-color: #f9f9f9;
}

.user-management-table td {
	vertical-align: middle !important;
}

.edit-user-checkbox {
	vertical-align: middle !important;
	margin-bottom: 8px !important;
}

.gaz-container {
	margin-right: auto;
	margin-left: auto;
}

.gaz-container:before,
.gaz-container:after {
  	display: table;
  	content: "";
	line-height: 0;
}

.gaz-container:after {
	clear: both;
}

.suggestion-menu {
	position: absolute;
	border: 1px solid #CCC;
	background-color: #ffffff;
	z-index: 2000;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
    width: 100%;
    box-sizing:border-box;
}

.suggestion {
	display: block;
	width: auto;
	height: 20px;
	padding: 4px;
	cursor: pointer;
}

.suggestion.selected {
	background-color: rgb(178,211,252);
}

.input-append .btn {
	border: 1px solid #5479b5;
}

.btn-facet-scroll, .btn-facet-scroll.disabled {
	background-color: transparent;
}

.btn-facet-scroll.disabled [class^="icon-"] {
	cursor: initial;
	color: transparent;
}

.place-picker-field {
	background-color: #fcfcfc;
	border-radius: 0 0 0 0;
	border: 1px solid #CCC;
	height: 23px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	width: 220px;
	display: inline-block;
	overflow: hidden;
}

.place-picker-btn {
	margin-left: -1px;
	border-radius: 0 0 0 0;
	border: 1px solid #cccccc;
	vertical-align: top;
	height: 33px;
}

.place-picker-search {
  position: relative;
  float: none;
  margin-top: 5px;
  margin-bottom: 0;
}

.place-picker-search .icon-search {
	position: absolute;
	top: 8px;
	left: 210px;
}

.place-list-container {
	display: table;
}

.tag-field {	
	border-radius: 0 0 0 0;
	border: 1px solid #CCC;
	height: 23px;
	padding	: 0px 4px 6px 4px;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

.tag-field .input {
  	border-width: 0px !important;
  	border: none !important;
  	white-space: nowrap;
  	width: 100%;
}

.tag-field .remove-icon-mouseover {
	color: #d9e8ef;
}

.shape-editor-field {
	background-colour: #fff;
	border-radius: 0 0 0 0;
	border: 1px solid #CCC;
	height: 20px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	width: 206px;
	display: inline-block;
	overflow: hidden;
}

.location-edit-btn {
	margin-left: -3px;
	border-radius: 0 0 0 0;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	vertical-align: top;
	text-align: center;
	display: inline-block;
	padding: 4px 9px 4px 10px;
}

.archaeo-fixed-menu-header #gaz-logo {
  background-image: url('../img/iDAI_gazetteer.png');
  background-size: 118px 116px;
  background-repeat: no-repeat;
  height: 116px;
  width: 118px;
  margin-top: 24px;
  float: left;
}

.dai-footer-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
}

.group-place-visibility-button {
	margin-left: 10px;
}