body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.navbar-search .icon-search {
	position: relative;
	left: -30px;
	top: 2px;
}

.gmap img { max-width: none; }

.tooltip-inner {
	font-weight: normal;
}

.no-left-margin {
	margin-left: 0 !important;
}

.extended-search label {
	font-weight: bold;
}

.extended-search .controls label {
	font-weight: normal;
}