body {
	padding-top: 40px;
	padding-bottom: 40px;
}

@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	.navbar .nav-collapse {
		clear: none;
	}
}

@media (max-width: 767px) {
	.navbar-fixed-top {
		margin-bottom: 20px;
	}
}

.page-header {
	margin-bottom: 20px;
}

.page-header h2 {
	margin-bottom: 10px;
}

.navbar-search .icon-search {
	position: relative;
	left: -30px;
	top: 2px;
}

.alerts {
	margin-top: 10px;
}

.gmap img { max-width: none; }

.tooltip-inner {
	font-weight: normal;
}

.no-left-margin {
	margin-left: 0 !important;
}

.extended-search label {
	font-weight: bold;
}

.extended-search .controls label {
	font-weight: normal;
}

.extended-search .form-horizontal .control-label {
	width: 110px;
}

.extended-search .form-horizontal .controls {
	margin-left: 130px;
}

.thesaurus-row {
	padding: 5px;
	border-bottom: 1px solid lightgrey;
}

.thesaurus-row:nth-child(2n) {
	background-color: #ffffff;
}

.thesaurus-row:nth-child(2n+1) {
	background-color: #f9f9f9;
}