.springBeans
.project
.classpath
.settings
target
src/main/resources/log4j.xml
Gemfile.lock
Berksfile.lock
tmp/
.kitchen
.kitchen.local.yml
.DS_Store
gazetteer.iml
src/main/webapp/WEB-INF/config.properties
src/main/webapp/WEB-INF/elasticsearch.properties
src/main/webapp/WEB-INF/mail.properties
src/main/webapp/WEB-INF/web.xml
src/main/resources/log4j.xml


# Docker

.env