.springBeans
.project
.classpath
.settings
target
Gemfile.lock
Berksfile.lock
tmp/
.kitchen
.kitchen.local.yml
.DS_Store
gazetteer.iml
logs/
src/main/resources/application.properties
src/main/resources/mail.properties
src/main/webapp/WEB-INF/web.xml
src/main/resources/log4j2.xml

builds/

# docker dev
.m2
.mongo-data
.tomcat

# development environments
.idea/
.vscode/
