<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p: %c - %m%n"/>
    </Console>
     <File name="file" fileName="/var/log/gazetteer/gazetteer.log">
      <PatternLayout pattern="%d - %-5p: %c - %m%n" />
    </File>
  </Appenders>
  <Loggers>
    <Logger name="org.dainst.gazetteer" level="debug">
    	<AppenderRef ref="file" />
    </Logger>
  </Loggers>
</Configuration>
