/* override special characters that cannot be displayed in standard font */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(./woff/notoSans.woff2) format('woff2');
}
